body {
  margin: 0px;
  background-color: black;
}

.start-page {
  width: 550px;
  height: 550px;
  background-color: #F5F7FB;
  margin: auto;
  background-image: url("../public/blobs.png"), url("../public/blobs2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
}

.top-blobs {
  position: absolute;
  top: 0px;
  right: 0px;
}

.botton-blobs {
  position: absolute;
  bottom: 0px;
}

.title{
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  color: #293264;
  margin-bottom: 0px;
}

.start-title {
  font-size: 32px;
}

.description {
  font-family: 'Inter', sans-serif;
  color: #293264;
  font-weight: 400;
  font-size: 16px;
  padding: 0px;
  margin-top: 7px;
  margin-bottom: 30px;

}

.start-quiz {
  font-family: 'Inter', sans-serif; 
  color: #F5F7FB;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  background-color: #4D5B9E;
  padding: 15px 56px;
  border-radius: 15px;
}